/*
button {
  padding: 10px 20px;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  transition: background-color 0.3s ease;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
*/
.singleNum {
  width: 1.8rem;
  height: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eee;
  border-radius: 50%;
  font-size: small;
}
.heightlight {
  background-color: #035c97;
  border-radius: 50%;
  border-color: #003c71;
  color: #003c71;
  animation: fadeIn 1s ease-in-out forwards;
}
.heightlight::before {
  content: '';
  position: absolute;
  border-radius: 50%;
}

.heightlight::before {
  width: 1.4em;
  height: 1.4em;
  border: 0.2em solid rgba(255, 254, 246, 0.7);
  background-color: white;
  z-index: -1;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
